<!DOCTYPE html>
<html>
<head>
<title>Logn</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
</head>
  
<body>
  
<div ng-controller="LoginCtrl">
  
    User Name: <input type="text" ng-model="userName"><br>
    Password: <input type="password" ng-model="password"><br>
  
</div>
</html>